* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body,
main {
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font--p;
}

ul,
ol {
    list-style: none;
}

a,
a:visited,
a:hover,
a:focus {
    text-decoration: none;
    color: $black;
}

.container-fluid {
    padding: 0;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
